.pdb_features_container {
  margin-left:15px;
}

.pdb_features {
  border:1px solid #CCC;
} 
.pdb_features > thead > tr > th {
  padding:2px 4px;
}
.pdb_features td:first-child {
  padding-left:2px;
  font-weight:bold;
  text-align:left;
  border-left: 5px solid;
}
.pdb_features td:not(:first-child) {
  text-align:right;
}

#pdb_markup > tbody > tr > td {
  padding:8px 4px 10px;
}
#pdb_markup > tbody > tr > td > div {
  line-height:18px;
}
#pdb_markup a:hover {
  cursor:pointer;
}

div.cb {
  float:left;
  margin-right:8px;
  background-color:#CCC;
  border-radius: 5px;
}
